body {
  background-color: #37517e !important;
}
.left h1 {
  font-family: "Roboto Mono", monospace;
  color: white;
}
.left p {
  font-family: "Roboto Mono", monospace;
  color: white;
}
.home-container {
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 73px;
}
.left {
  padding-top: 90px;
  align-items: center;
  justify-content: center;
}
.home-row {
  margin-top: 80px;
}
.Link-btn {
  color: white;
  text-decoration: none;
}
.home-btn {
  margin-top: 30px;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  background-color: #1f2e47;
}
.home-image {
  width: 100%;
  height: auto;
  margin-left: 30px;
  margin-top: 65px;
  object-fit: cover;
  max-height: 100%;
  animation: float 3.5s ease-out infinite;
}
@keyframes float {
  50% {
    transform: translateY(40px);
  }
}
@media (max-width: 575.98px) {
  .home-image {
    width: 90%;
    margin-left: 0;
  }
}
